{% extends 'base.html'%}
{% load bootstrap4 %}

{% block page_header %}
<!--  <h1><img src="{{ team.logotype.url }}" width="100"> {{ name }}</h1>-->
{% endblock page_header %}

{% block content %}

  <div class="card mb-3">
     <div class="card-body">
      <lu>
         <li>Турнір: <a href="">{{ match.mtournament_id }}</a></li>
         <li>Матч {{ match.round }} туру</li>
         <li>Дата: {{ match.match_event }}</li>
         <li>Стадіон: </li>
         <li>Мачт: {{ match.match_home }} |{{ match.goals_team1 }} : {{ match.goals_team2 }}| {{ match.match_guests }}</li>
        </lu>
     </div>
  </div>


{% endblock content %}

